@charset "utf-8";
@import "reset.css";
@import "common.css";
@import "rwdcommon.css";

#section { padding-top:135px }


.slide { width:100%; height:590px; overflow:hidden }
.slide .slideInner { 
    background-size:cover; 
    background-repeat:no-repeat; 
    height:590px; 
    position:relative
}
.slide .slideInner:nth-child(1) { background-image:url(../images/v_1.jpg) }
.slide .slideInner:nth-child(2) { background-image:url(../images/v_2.jpg) }    
.slide .slideInner:nth-child(3) { background-image:url(../images/v_3.jpg) } 
.slide .text { 
    text-align:center; 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%) }           
.slide .text h2 {font-size:80px; color:rgba(255, 255, 255, 0.65) }
.slide .text h3 {
    font-size:17px; 
    color:rgba(255, 255, 255, 0.65);
    margin:10px 0
}   
.slide .text p {font-size:11px; color:rgba(255, 255, 255, 0.45) }  



.slideOuter { position:relative }

/* 슬라이드 순서(도트)버튼 */
.slideOuter .dotBox { 
    position:absolute; 
    bottom:20px; 
    width:100%; 
    text-align:center 
}        
.slideOuter .dotBox a { 
    display:inline-block;
    width:15px; 
    height:15px; 
    background:rgba(255, 255, 255, 0.6);
    border-radius:50%;  
    margin:0 5px; 
}
.slideOuter .dotBox a.active { background:rgba(255, 255, 255, 1) }    

/* 슬라이드 화살표 */
.slideOuter .arr { 
    font-size:50px; 
    color:rgba(255,255,255,0.6);
    position:absolute; top:50%; 
    transform:translateY(-50%) 
}
.slideOuter .arr:hover {color:rgba(255,255,255,1) }
.slideOuter .prev { left:100px }    
.slideOuter .next { right:100px }



.company { padding:80px 0px 90px }
.company h2 { text-align:center; margin-bottom:60px  }
.company h2 span { 
    border:0px solid #f00;
    display:inline-block; 
    height:36px; 
    line-height:36px; 
    vertical-align:top 
}
.company h2 span:first-child {  
    font-size: 36px;  
    color: #A6A6A6;
    padding-right: 15px;
}
.company h2 span:last-child { 
    font-size: 17px; 
    color: #666;  
    border-left: solid 1px #ccc;
    padding-left: 15px;  
}    

.company ul li { float:left; width:25%; padding:0 40px;  }
.company ul li a { display:block; text-align:center }    
.company ul li div { 
    border-radius:50%; 
    overflow:hidden; 
    transition:all 0.5s;  
}  
.company ul li img { 
    width:100%; 
    transition:all 0.5s; 
    border-radius:0%
}    
.company ul li:hover img { transform:scale(1.2) } 
.company ul li h3 { 
    font-size:17px; 
    color:#666; 
    margin:25px 0 13px; 
    font-weight:bold;  
    transition:all 0.5s 
} 
.company ul li p { 
    font-size:13px;
    color:#666; 
    padding:0 10px 40px; 
    line-height:1.5;  
    transition:all 0.5s 
}  
.company ul li span { 
    font-size:11px; 
    color:#333; 
    display:inline-block; 
    padding:9px 15px;
    border-top:1px solid #ccc; 
    border-bottom:1px solid #ccc; 
    transition:all 0.5s 
}  
.company li:hover div,
.company li:hover h3, 
.company li:hover p { opacity:0.5 } 
.company li:hover span { padding:9px 35px; }
 


.business { 
    background:url(../images/bgs-n1.jpg) no-repeat; 
    height:320px; 
    background-size:cover; 
    background-position:center;
    background-attachment:fixed; 
    position:relative 
}
.business .overlay { position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0;
    background:rgba(0,0,0,0.3); 
}
.business .text { 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    text-align:center;
    color:#fff;
 }
.business .text h2 { 
    font-size:43px; 
    padding-bottom:15px;
    position:relative; 
    /* 선의 길이가 글상자 길이보다 크거나 같았을때 푸는 방식 */
     border-bottom:1px solid #fff; 
     padding-left:30px; 
     padding-right:30px;  }   
    

     /* 선의 길이가 글상자 길이보다 작았을 때 푸는 방식 */
/* .business .text h2:after {
    content:''; width:100px; height:1px; background:#fff;
    position:absolute; top:100%; left:50%; 
    transform:translateX(-50%) }  */
.business .text p { font-size:17px; margin-top:15px }   
    
.cscenter { padding:70px 0 }    
.cscenter > div { float:left; }
.cscenter .board { 
    width:34.1506%; 
    padding-right: 40px;
}
.cscenter .gobox { width:21.3660% }
.cscenter .cs { width:23.1173% }


.cscenter .board .tabTit { 
    border-bottom:1px solid #d9d9d9; 
    padding:0 8px 
}
.cscenter .board .tabTit li { display:inline-block; }
.cscenter .board .tabTit li a { 
    display:inline-block; 
    font-size:14px; 
    color:#999;
    padding:10px 15px; 
}
.cscenter .board .tabTit li a.on {
    color:#666; 
    border:1px solid #d9d9d9;
    border-bottom:none 
}   


.cscenter .board .tabCont {
    font-size:13px; 
    color:#666;
    margin-top: 18px;
    height: 167px;
    overflow: hidden;    
}
.cscenter .board .tabCont td { padding: 7px 5px; }
.cscenter .board .tabCont col:nth-child(1) { width: auto; }
.cscenter .board .tabCont col:nth-child(2) { width: 25%; }
.cscenter .board .tabCont td:nth-child(1) { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.cscenter .board .tabCont td:nth-child(1) a:before { content: 'ㆍ';}
.cscenter .board .tabCont td:nth-child(2) { text-align: center; }
.cscenter .gobox { 
    border-left:  1px solid #d9d9d9;
    padding: 15px 35px;
    height: 225px; 
}
.cscenter .gobox img { width: 100%; transition: all 0.5s;}
.cscenter .gobox .imgbox { position: relative; overflow: hidden; }
.cscenter .gobox .overlay { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s;
}
.cscenter .gobox .text { 
    color: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    padding: 4px 8px;
}
.cscenter .gobox:hover .overlay { opacity: 1; }
.cscenter .gobox:hover img { transform: scale(1.2); }
.cscenter .gobox a { display: block; text-align: center; color: #666;}
.cscenter .gobox h3 { 
    font-size: 17px;
    padding: 15px 0;
    font-weight: bold;
    transition: all 0.5s; 
}
.cscenter.gobox p { 
    font-size: 13px; 
    line-height: 1.5;
    padding: 0 10px;
    transition: all 0.5s
}
.cscenter .gobox:hover h3,
.cscenter .gobox:hover p { opacity: 0.8; }
.cscenter .cs { 
    border: 1px solid #d9d9d9; 
    padding: 15px 15px 19px;
    color: #666;
}
.cscenter .cs h3 { 
    font-size: 18px; 
    color: #fff;
    padding: 6px 0;
    background: url(../images/ptn_01.jpg);
    text-align: center;
    font-weight: bold;
    margin-bottom: 13px; 
}
.cscenter .cs p span:nth-child(2) { font-size: 20px; }
.cscenter .cs p span:nth-child(1) { 
    font-size: 15px; 
    padding-left: 5px;
    display: inline-block;
    width: 30px;
    margin-left: 15px;
}   
.cscenter .cs .cstime { 
    font-size: 12px;
    border-top: 1px solid #d9d9d9;
    margin-top: 13px;
    padding: 13px 0 0 20px;
    line-height: 1.5; 
}
.cscenter .cs .cstime span { font-weight: bold; }

.pointBiz { 
    padding: 80px 50px; 
    border-top: 1px solid #a6a6a6; 
    position: relative;
}
.pointBiz img { width: 100%; }
.pointBiz .text { float:left; width: 35%; padding: 0 15px; color: #333;}
.pointBiz .text a { display: block; }
.pointBiz .imgbox { float: right; width: 65%; padding: 0 15px; }
.pointBiz .text h2 { font-weight: bold; color: #a6a6a6;}



.pointBiz .text p:first-child { font-size: 43px; }
.pointBiz .text p:last-child { 
    font-size: 17px; 
    padding: 11px 30px; 
    margin: 15px 0 23px;
    border-top: solid 1px #a6a6a6;
    border-bottom: solid 1px #a6a6a6;
    text-align: center;    
    color: #333;
    display: inline-block;
}
.pointBiz .text .comment { 
    font-size: 15px; 
    color: #666;
    margin: 23px 0 45px;
    line-height: 1.8;
    min-height: 130px;
    padding-right: 30px;
}
.pointBiz .text span { 
    font-size: 11px; 
    padding: 9px 19px;
    border: 1px solid #edeef3; 
    display: inline-block;
}

.pointBiz .pointslide .text:hover { opacity: 0.8; }
.pointBiz .pointslide .text:hover span { background: #edeef3; }
.pointBiz .pointslide { 
    height: 309px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.pointBiz .slideBox { width: 100%; height: 309px; overflow: hidden; }
.pointBiz .arr { position: absolute; top: 50%; transform: translate(-50%); }

.pointBiz .prev { left: 0; }
.pointBiz .next { right: 0; }


#footer { background:#111; color: #666; font-size: 15px; }
#footer .inner { position: relative; }

.footerMenu { padding: 50px 0 35px; text-align: center; font-weight: bold; }
.footerMenu a:hover { opacity: 0.4; }
.footerMenu a { position: relative; padding: 0 45px;}
.footerMenu a:first-child:before { display: none; }
.footerMenu a:before { 
    content:'|';  
    position:absolute; 
    left:0; 
    top:50%; 
    transform:translateY(-50%);
    font-weight: normal;
}
.companyInfo { 
    padding-bottom: 60px; 
    display: inline-block; 
    font-size: 13px; 
    vertical-align: top;
    line-height: 2;
}
.companyInfo span { position: relative; }
.companyInfo span:before { 
    content: '|';
    margin: 0 15px;
    color: #e5e5e5; 
}
.companyInfo span:first-child:before,
.companyInfo span .detailaddr:before { display: none; padding: 0; }
.companyInfo span .detailaddr { margin-left: -15px; }

.companyInfo .bizinfo a:before { 
    content: '|';
    padding: 0 8px;
    color: rgba(255, 255, 255, 0.2); 
}
.companyInfo .bizinfo a:hover { opacity: 0.6; }
.companyInfo .address span:nth-child(1):before { display: none; }


#footer .sns { 
    position: absolute;
    bottom: 65px;
    right: 0;
    font-size: 11px;
}
.sns .copyright { vertical-align: top; }
.sns .snslink { text-align: center; line-height: 1; margin-top: 10px; }


.goTop { 
    font-size:50px; 
    position:fixed;
    bottom:30px; 
    right:30px; 
    z-index:9999;
    color:#ccc 
}

.loadBox {  
    display:none; 
    position:fixed; 
    left:0; 
    right:0; 
    bottom:0; 
    top:0;
    background:#fff;
     z-index:9999 
    }    
.loadBox i { 
    font-size:80px; 
    position:absolute; 
    top:40%; 
    left:50%;
    transform:translate(-50%, -50%) 
}